/*
* @Author: ASUS
* @Date:   2018-02-18 18:40:03
* @Last Modified by:   ASUS
* @Last Modified time: 2018-02-20 04:48:54
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
    text-decoration: none;
}
body,html{
	width: 100%;
	overflow-x:hidden;
	font-family: "苹方"；
}
.top{
	width: 100%;
	height: 0.88rem;
	background:#ffdb35;
	position: fixed;
	left: 0rem;
	right: 0rem;
	top: 0rem;
	z-index: 10;	
}
.top .zuo{
	width: 0.88rem;
	height: 0.88rem;
	/* background:red; */
	float: left;
}
.top img{
	width: 0.88rem;
	height: 0.88rem;
	margin-bottom: 0.13rem;
}
.top .zhong{
	width: 5.8rem;
	height: 0.88rem;
	/* background:green; */
	float: left;
}
.top .zhong .wenzi{
	font-size: 0.36rem;
	color: #2a2b36;
	line-height: 0.88rem;
	margin-left: 2.15rem;
	font-family:"苹方";font-weight:bold;
}
.banner{
	width: 7.91rem;
	height: 4.55rem;
	/* background: pink; */
	margin-top: 0.88rem;
}
.banner img{
	width: 7.91rem;
	height: 4.55rem;
	margin-left: -0.2rem;
}
.one{
	width: 5.68rem;
	height: 0.67rem;
	/* background: red; */
	margin-top: 0.46rem;
	margin-left: 0.22rem;
	font-size: 0.2917rem;
	color: #2a2b36;
	font-family:"苹方";font-weight:bold;
}
.er{
	width: 5rem;
	height: 0.5rem;
	/* background: green; */
	margin-left: 0.22rem;
	float: left;
}
.er .wenzi{
	font-family:"San Francisco Display";font-weight:bold;
	font-size: 0.4615rem;
	color: #ffd030;
	float: left;
	margin-top: -0.1rem;
}
.er .wenzii{
	font-size: 0.32rem;
	color: #818286;
	font-family:"苹方";font-weight:light;
	float: left;
	margin-top: -0.02rem;
	margin-left: 0.2rem;
}
.san{
	width: 4.09rem;
	height: 0.02rem;
	/* background: yellow; */
	margin-left: 0.22rem;
	float: left;
	background-image: url('../img/xuxian@2x.png');
	background-size:4.09rem 0.02rem;
	background-repeat: no-repeat; 
	background-position: center;
}
.yanse{
	width: 3.24rem;
	height: 1.87rem;
	/* background: green; */
	margin-left: 0.22rem;
	/* float: left; */
	margin-top: 0.86rem;
}
.yanse .yi{
	width: 0.86rem;
	height: 0.38rem;
	/* background: red; */
	font-size: 0.23rem;
	color: #2a2b36;
	font-family:"苹方";font-weight:bold;
}
.yanse .yiyi{
	width: 3.3rem;
	height: 0.47rem;
	/* background: yellow; */
	margin-bottom: 0.25rem;
}
.yanse .yiyi .yuan{
	width: 0.4rem;
	height: 0.4rem;
	/* background: pink; */
	float: left;
	margin-right: 0.22rem;
	border-radius: 50%;
	margin-top: 0.02rem;
	border: 0.02rem solid#fff;
	box-shadow: 0 0rem 0.2rem rgba(0, 0, 0, 0.1);
}
.yanse .yiyi .yuan1{
	background: #2a2b36;
}
.yanse .yiyi .yuan2{
	background: #e7e7e7;
}
.yanse .yiyi .yuan3{
	background: #ffd030;
}
.yanse .yiyi .yuan4{
	background: #fae6a0;
}
.yanse .yiyi .yuan5{
	background: #fbf1d0;
}
.yanse .shulian{
	width: 1.45rem;
	height: 0.38rem;
	background: #fff;
	border: 0.02rem solid#dddddf;
}
.yanse .shulian .one{
	width: 0.61rem;
	height: 0.3rem;
/* 	background: green; */
	margin-top: 0.04rem;
	margin-left: -0.02rem;
	float: left;
	font-family:"San Francisco Display";font-weight:bold;
	font-size: 0.28rem;
	color: #818186;
	text-align: center;
	line-height:0.3rem;
}
.yanse .shulian .er{
	width: 0.25rem;
	height: 0.3rem;
	/* background: red; */
	margin-top: 0.04rem;
	margin-left: -0.02rem;
	float: left;
	font-family:"San Francisco Display";font-weight:bold;
	font-size: 0.28rem;
	color: #ffd030;
	text-align: center;
	line-height: 0.3rem;
	margin-top: 0.06rem;
}
.yanse .shulian .onee{
	width: 0.61rem;
	height: 0.3rem;
	/* background: green; */
	margin-top: 0.04rem;
	margin-left: -0.02rem;
	float: left;
	font-family:"San Francisco Display";font-weight:bold;
	font-size: 0.28rem;
	color: #818186;
	text-align: center;
	line-height:0.3rem;
}
.yansee{
	width: 7.01rem;
	height: 0.23rem;
	/* background: red; */
	margin-left: 0.22rem;
	margin-top: 0.3rem;
}
.yansee .one{
	width: 2.24rem;
	height: 0.23rem;
/* 	background: green; */
	margin-left: 0.01rem;
	margin-top: 0.4rem;
	float: left;
	margin-top: 0.01rem;
}
.yansee .er{
	width: 2.24rem;
	height: 0.23rem;
	/* background: green; */
	margin-left: 0.1rem;
	margin-top: 0.4rem;
	float: left;
	margin-top: 0.01rem;
}
.yansee .san{
	width: 2.242rem;
	height: 0.23rem;
	background: green;
	margin-left: 0.01rem;
	margin-top: 0.4rem;
	float: right;
	margin-top: 0.01rem;
}
.yansee .one img{
	width: 0.2rem;
	height: 0.22rem;
}
.yansee .one2 img{
	width: 0.2rem;
	height: 0.22rem;
	margin-left: 0.1rem;
}
.yansee .one3 img{
	width: 0.2rem;
	height: 0.22rem;
	margin-left: 0.53rem;
}
.yansee .one .wenzi{
	float: right;
	font-size: 0.2rem;
	color: #696a72;
	font-family:"苹方";font-weight:bold;
	margin-top: 0.05rem;
	margin-right: 1.6rem;
}
.yansee .one2 .wenzi{
	float: right;
	font-size: 0.2rem;
	color: #696a72;
	font-family:"苹方";font-weight:bold;
	margin-top: 0.06rem;
	margin-right: 1rem;
}
.yansee .one3 .wenzi{
	float: right;
	font-size: 0.2rem;
	color: #696a72;
	font-family:"苹方";font-weight:bold;
	margin-top: 0.05rem;
	margin-right: -0.2rem;
}
.shiping{
	width: 7.01rem;
	height: 4rem;
	background: red;
	margin-left: 0.22rem;
	margin-top: 0.5rem;
	background-image: url('../img/shipingSOyuFa@2x.png');
	background-size:7.07rem 4.06rem;
	background-repeat: no-repeat; 
	background-position: center;
}
.xia{
	width: 100%;
	height: 0.84rem;
	/* background: #ffdb35; */
/* 	position: fixed;
	left: 0rem;
	right: 0rem;
	top: 0.87rem;
	z-index: 10; */	
	margin-top: 0.6rem;
}
.xia .fenglei{
	width: 4.08rem;
	height: 0.58rem;
	background: #2a2b36;
	margin-left: 1.69rem;
	border-radius: 0.06rem;
	border: 0.0308rem  solid #2a2b36;
}
.xia .fenglei .huan{
	width: 1.98rem;
	height: 0.56rem;
	/* background: #ffdb35; */
	margin-top: 0.01rem;
	border-radius: 0.06rem 0rem 0rem 0.06rem;
	margin-left: 0.01rem;
	font-size: 0.26rem;
	color: #ffdb35;
	line-height: 0.54rem;
	text-align: center;
	font-family:"苹方";font-weight:bold;
	float: left;

}
.xia .fenglei .wenzi{
	width: 1.98rem;
	height: 0.54rem;
	background: #ffdb35;
	margin-top: 0.02rem;
	margin-left: 2.085rem;
	font-size: 0.26rem;
	color: #2a2b36;
	line-height: 0.54rem;
	border-radius: 0rem 0.06rem 0.06rem 0rem;
	text-align: center;
	font-family:"苹方";font-weight:bold;
}
.shuju{
	width: 4.17rem;
	height: 3.66rem;
	/* background: #170d0c; */
	margin-top: 0.36rem;
	margin-left: 1.69rem;
}
.shuju img{
	width: 4.17rem;
	height: 3.66rem;
}
.zuishang{
	width: 6.99rem;
	height: 1.2rem;
	/* background: pink; */
	margin-left: 0.22rem;
	margin-top: 0.67rem;
	float: left;
}
.zuishang .ping{
	width: 1.13rem;
	height: 1.13rem;
	/* background: red; */
	/* margin-left: 0.22rem; */
	border-radius: 50%;
	box-shadow: 0 0rem 0.2rem rgba(0, 0, 0, 0.1);
	border: 0.03rem solid#fff;
	float: left;
	/* margin-top: 0.26rem; */
}
.ping img{
	width: 1.13rem;
	height: 1.13rem;
}
.pingzhong{
	width: 3.2rem;
	height: 0.78rem;
	/* background: red; */
	margin-left: 0.22rem;
	/* border-radius: 50%; */
	/* box-shadow: 0 0rem 0.2rem rgba(0, 0, 0, 0.1); */
	/* border: 0.03rem solid#fff; */
	float: left;
	margin-top: 0.01rem;
	margin-left: 0.43rem;
}
.pingzhong .shan{
	width: 0.5rem;
	height: 0.42rem;
	/* background: green; */
	font-size: 0.25rem;
	color: #818186;
	line-height: 0.38rem;
	text-align: center;
	font-family:"苹方";font-weight:bold;
	border-bottom: 0.01rem solid#818186;
}
.pingzhong .xia1{
	width: 5.36rem;
	height: 0.38rem;
	/* background: green; */
	margin-top: 0.05rem;
	font-size: 0.23rem;
	color: #2a2b36;
	line-height: 0.38rem;
	text-align: left;
	font-family:"苹方";font-weight:bold;
	/* border-bottom: 0.02rem solid#534c4c; */
}
.pingyou{
	width: 1.4rem;
	height: 0.16rem;
	/* background: red; */
	/* margin-right: 0.22rem; */
	/* border-radius: 50%; */
	/* box-shadow: 0 0rem 0.2rem rgba(0, 0, 0, 0.1); */
	/* border: 0.03rem solid#fff; */
	float: right;
	margin-top: 0rem;
	/* margin-left: 0.43rem; */
	font-size: 0.2rem;
	color: #ffdb35;
	line-height: 0.3rem;
	font-family:"苹方";font-weight:bold;
	text-align: right;
}
.tupian{
	width: 3.14rem;
	height: 1.87rem;
	/* background: pink; */
	margin-left: 1.86rem;
	margin-top: 0.24rem;
	float: left;
}
.tupian img{
	width: 3.14rem;
	height: 1.87rem;
}
.zuiping{
	width: 5.52rem;
	height: 0.54rem;
	/* background: pink; */
	margin-left: 1.85rem;
	margin-top: 0.24rem;
	float: left;
	font-size: 0.23rem;
	color: #696a6f;
	line-height: 0.38rem;
	text-align: left;
	font-family:"苹方";font-weight:bold;
}
.geng{
	width: 1.94rem;
	height: 0.51rem;
	background: #ffd030;
	margin-left: 2.77rem;
	margin-top: 0.35rem;
	float: left;
	font-size: 0.25rem;
	color: #fff;
	line-height: 0.51rem;
	text-align: center;
	font-family:"苹方";font-weight:bold;
	border-radius: 0.1rem;
}
.eee{
	width: 4rem;
	height: 15.3rem;
	background: #fff;
}
.goumai{
	width: 7.5rem;
	height: 0.98rem;
	background: #2a2b36;
	margin-top: 0.5rem;
	float: left;
	position: fixed;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	z-index: 10;	
}
.goumai .li{
	width: 3.75rem;
	height: 0.98rem;
	background: #fddb54;
	float: right;
	font-size: 0.3rem;
	color: #2a2b36;
	font-family:"苹方";font-weight:bold;
	text-align: center;
	line-height: 0.98rem;
}
.goumai .lii{
	width: 3.75rem;
	height: 0.98rem;
	background: #2a2b36;
	float: left;
	font-size: 0.3rem;
	color: #fddb54;
	font-family:"苹方";font-weight:bold;
	text-align: center;
	line-height: 0.98rem;
}



